:root {
  --bs-primary: #8741f8;
  --bs-primary-text-emphasis: #6f42c1;
  --bs-primary-bg-subtle: #ead7ff;
  --bs-primary-border-subtle: #d6bfff;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-primary-text-emphasis);
  border-color: var(--bs-primary-text-emphasis);
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:hover,
.btn:active {
  color: #fff !important;
  background-color: var(--bs-primary-text-emphasis) !important;
  border-color: var(--bs-primary) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.nav-link {
  color: var(--bs-primary);
}

.nav-link:hover {
  color: var(--bs-primary-text-emphasis);
}

a {
  color: var(--bs-primary);
}

.form-control,
.form-select {
  color: var(--bs-primary);
}

.form-control:focus,
.form-select:focus {
  color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(135, 65, 248, 0.25);
  border-color: var(--bs-primary-bg-subtle);
}
